<h2>ツイート</h2>
<hr>
<br>

<% @tweets.each do |e| %>
<p>
    <br>
   <%= e.message%>&nbsp;&nbsp;
    <%= link_to 'いいね', likes_path(tweet_id: e.id), method: :post %>
    <%= link_to 'いいね削除', like_path(e), method: :delete %>
    <br>
</p>
<% end %>
<hr>
<br><a href= '../tweets/new' class="btn-gradient-flat"><u>ツイート</u></a><br>
<%= link_to 'ログアウト', '../top/logout' %>
<br>

