<h2>ツイート</h2>
<hr>
<br>
<% @tweets.each do |tweet| %>
<p>
    <br>
   <%= tweet.message%>&nbsp;&nbsp;
    <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
    <%= link_to '表示', tweet_path(tweet.id) %>
    <%= link_to '編集', edit_tweet_path(tweet.id) %>
    <br>
</p>
<hr>

<% end %>
<p><%= link_to 'ツイート', new_tweet_path %></p>

