<%= link_to 'アカウント作成', 'users/new' %>
<%= link_to 'ログイン','top/login' %>
<br><br><br>
<h2>ツイート</h2>
<hr>
<br>
<% @tweets.each do |e| %>
<p>
    <br>
   <%= e.message%>&nbsp;&nbsp;
    <br>
</p>
<% end %>