<%= form_for @user , url: {action: :create} do |f| %>
 <%= f.label :uid, 'ユーザーID' %>
 <%= f.text_field :uid %>
 <%= f.label :pass, 'パスワード' %>
 <%= f.password_field :pass %>
 <%= f.label :age, '年齢' %>
 <%= f.text_field :age %>
 <%= f.submit '登録' %>
<% end %>

 <%= link_to 'Back', '/' %>