
#sidebar{
    background: #f0f8ff;
      height: 70%;
      width: 32%;
     float:left ;
}

#content {
  background: #f0f8ff;
  height: 70%;
  width: 66%;
  float:right;
  margin: 0 0 0 auto;
}

#container{
}
.btn-gradient-flat {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  transition: .4s;
  float: right;
}

.btn-gradient-flat:hover {
  background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
}

.trim-image-to-circle {
    background-image: url("a.png");
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    border: 9px solid white;
}

b {
    font-weight: normal;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}