<!DOCTYPE html>
<html>
  <head>
    <title>Myapp1</title>
    <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <body bgcolor=#EEEEEE>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <div id="container">
        <div id="header">
            <%= render "tweets/header" %>
        </div>
        <div id="sidebar">
            <%= render "tweets/sidebar" %>
        </div>
        <div id="content">
            <%= yield %>
        </div>
        <div id="footer">
            <%= render "tweets/footer" %>
        </div>
    </div>
</body>
</html>
